.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}


.carousel-caption h1 {
    font-size: 3.5vw;
}

.carousel-caption p {
    font-size: 1.5vw;
}

.carousel-item img {
    filter: brightness(40%);
}

.ready-to-join{
    height: 35vh;
}
.left-feedback-arrow{
    background: rgb(201, 250, 250);
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    top: 40%;
    left: -4%;
}

.right-feedback-arrow{
    background: rgb(113, 241, 241);
    position:absolute;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    top: 40%;
    right: -4%;
}
footer{
    height: 45vh;
}